

.color {
    display: inline-block;
    border: black solid 1px;
    padding: 8%;
}

#black{
    background-color: black;
}

#greenyellow{
    background-color: greenyellow;
}

#aqua{
    background-color: aqua;
}

#darkviolet{
    background-color: darkviolet;
}

#color-palette{

}
#mesa{
    border: 1px;
    border-color: black;
}